.container {
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.required-field::after {
  content: "*";
  color: red;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}
textarea {
  height: 100%;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column-off {
  display: none;
}

.activeCol-50 {
  float: left;
  width: auto;
  height: auto;
  padding: 20px;
  background-color: #c0c0c0;
  position: absolute;
  top: 218%;
  -webkit-animation: slideIn 3s forwards;
  -moz-animation: slideIn 3s forwards;
  animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 10px;
}
.col-text {
  width: 100%;

  padding: 10px;
}

.button1 {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
.button2 {
  background-color: #4caf50;
  border: transparent;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  float: right;
}

.button2:hover {
  background-color: #45a049;
}
.button3 {
  background-color: transparent;
  color: rgb(90, 88, 88);
  padding: 10px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 86.6%;
  text-decoration: underline;
}
.button3:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .column,
  input,
  textarea [type="text"] {
    width: 100%;

    margin-top: 0;
  }
  .activeCol-50 {
    float: left;
    width: auto;
    height: auto;
    padding: 20px;
    margin-left: -6.5%;
    background-color: #c0c0c0;
    position: absolute;
    top: 260%;
  }
  .container {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
}
